doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(e="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="../build/styles/theme.css")
        link( href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
        script(src="../bower_components/jquery/dist/jquery.min.js")
        script(src="../externals/jquery-ui.min.js")
        script(src="../bower_components/jquery-form/jquery.form.js")
        title MessageBoard
    body
        include ../partials/headview.pug
        include ../partials/postform.pug
        div#body(data-bind="foreach: Threads")
            section.thread-view
                section.thread#body(data-bind="foreach: posts()")
                    article(data-bind="css: parentId ? '': 'root-post', attr:{id: id, name: id}")
                        header
                            span.user-name UserName 
                            span(data-bind="text: timestamp") 
                            span  Post: 
                            span(data-bind="text: id")
                            span    
                            a.reply-link(data-bind="attr: {href: '#'+id()}")  [Reply]
                        section.body
                            section.image(data-bind="visible: imageId")
                                //- a(data-bind="attr: {href: '../../../resources/images/'+image_id+'.'+image_ext}, text: image_name")
                                img(data-bind="attr: {src: '../resources/images/'+imageLink()}")
                            section.text(data-bind="html: text")
            hr

        script(src="../bower_components/requirejs/require.js")
        script(src="../build/require-config.js")
    script(src="../build/init.js")
    script.
        var threads;
        var tvm;
        var ko;
        var currentBoard;
        require(["knockout", "board"], function(ko, board){
            currentBoard = new board["BoardViewModel"]("Tech", "Technology and IT");
            $.ajax({
                url: cleanUrl(url,"/threads.json"),
                type: "get",
                dataType: "text",
                context: currentBoard,
                success: currentBoard.addBlurbs
            });
            $.ajax({
                url: cleanUrl(url,"/boardList.json"),
                type: "get",
                dataType: "text",
                context: currentBoard,
                success: currentBoard.addBoardsList
            });
            
            //ko.applyBindings(tvm, $(".thread-view")[0]);
            ko.applyBindings(currentBoard);
        });