doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(e="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="../../../build/styles/theme.css")
        link( href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
        script(src="../../../bower_components/jquery/dist/jquery.min.js")
        script(src="../../../externals/jquery-ui.min.js")
        script(src="../../../bower_components/jquery-form/jquery.form.js")
        title MessageBoard
    body
        include ../partials/headview.pug
        include ../partials/postform.pug

        script(src="../../../bower_components/requirejs/require.js")
        script(src="../../../build/require-config.js")
        script.
            require(["../../../build/viewmodels/boards/thread"]);
            $("#draggable-message-form").draggable({containment: "body"});
            let urlTo = window.content.location.href + "/message";
            console.log(urlTo);
            $(".message-form")
                .ajaxForm({
                    url: urlTo, 
                    type: "post",
                    context: this,
                    data: $(this).serialize()
                });