@import "light.less";
@import "mixins.less";
form.message-form{
    background: @base-blue;
    display: none;
    min-width: 10em;
    width: auto;
    max-width: 45em;
    min-height: 10em;
    height: auto;
    max-height: 100%;
    position: fixed;
    z-index: 9999;
    left: 60%;
    top: 25%;
    cursor: move;
    border-radius: 0.2em 0.2em 0 0;
    -webkit-box-shadow: 10px 10px 28px 11px rgba(0,0,0,0.07);
    -moz-box-shadow: 10px 10px 28px 11px rgba(0,0,0,0.07);
    box-shadow: 10px 10px 28px 11px rgba(0,0,0,0.07);
    input.hidden-input{
        display: none;
    }
    fieldset{
        background: @base-white;
        display: block;
        width: 95%;
        height: 90%;
        min-height: 8em;
        padding: 0.2em 0 0 0;
        border: none;
        legend{
            margin-left: 0.5em;
            color: @font-main;
            background: @base-white;       
        }
        textarea{
            cursor: auto;
            display: block;
            min-width: 20em;
            width: 25em;
            min-height: 10em;
            height: 15em;
        }
        input{
            cursor: auto;
            display: block;
            width: auto;
            max-width: 100%;
            height: 10%;
            min-height: 1.2em;
        }
    }
    >input{
        margin-right: 0.1em;
        .button-mixin(right);
    }
    >button{
        margin-left: 0.1em;
        .button-mixin(left)
    }
}