form.message-form#draggable-message-form
    input.hidden-input(name="parent" data-bind="value: id()")
    fieldset
        legend Post a Message
        textarea.message-field(name="message")
        input(type="file" name="image")
    button#cancel(type="cancel") Close
    input(type="submit" value="Post")